html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
}

/* 
##########################
Some common css
########################## 
*/
.flex-content {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.width-500 {
    width: 500px;
}

.padding-t-15 {
    padding-top: 15px;
}

.padding-25 {
    padding: 25px;
}

.padding-r-25 {
    padding-right: 25px;
}


.half-width {
    width: 40%;
    padding: 0 20px;
    margin-left: 50px;
}

.half-width img {
    display: block;
    width: 80%;
}

.half-width h1 {
    font-weight: 900;
    font-size: 2.3em;
}

.line-height {
    line-height: 130%;
}

.margin-y-10 {
    margin: 10px 0;
}

.gray {
    color: #575757;
}

.light-gray {
    color: #828282;
}

.orange {
    color: orange;
}

.blue {
    color: cornflowerblue;
}

.text-center {
    text-align: center;
}

.title {
    font-weight: 900;
    font-size: 2em;
}

.details {
    color: dimgray;
    text-align: justify;
}

.button {
    display: inline-block;
    background-image: linear-gradient(orange, tomato);
    border-radius: 100px;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: capitalize;
    color: white;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-image: linear-gradient(90deg, tomato, orange);
}

/* 
##########################
Top section css
########################## 
*/
.top-banner {
    height: 100vh;
    background-image: url(./image/bg/banner\ 1.png);
    background-repeat: no-repeat;
}

.perallex1 {
    background-image: url("./image/bg/white\ pizza.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}

.perallex2 {
    background-image: url("./image/bg/good\ food.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;

}

/* 
##########################
middle section css
########################## 
*/
.margin-auto {
    margin: auto;
}

.middle-section {
    height: auto;
    background-image: url(./image/bg/Frame\ 58.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 25px 25px 0;
}

.experience-title {
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;
    color: #676767;
}

.experience-details {
    text-align: center;
    color: #828282;
    line-height: 20px;
}

/* 
##########################
Card related css
########################## 
*/
.card {
    padding: 20px 20px 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    /* width: 33%; */
    height: auto;
    box-shadow: 2px 5px 17px 2px #dcd3d3;
    border-radius: 20px;
    /* flex: 1; */
    flex-basis: 28%;

}

.card-title {
    color: #575757;
    font-size: 1.5em;
    font-weight: 900;
    text-transform: capitalize;
}

.card-text {
    font-size: 1.05em;
    color: dimgray;

}

.card-image {
    width: 100%;
}

.card-image img {
    width: 100%;
    border-radius: 20px;
}

.card:hover {
    transform: scale(0.95);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
}

.card-heading {
    font-size: 2.2em;
    margin-top: 5px;
    margin-bottom: 25px;
    /* color:orange; */
    font-weight: 700;
}

.border-left-blue {
    border-left: 5px solid blue;
}

.border-left-orange {
    border-left: 5px solid orange;
}

.total-response {
    font-weight: bold;
    font-size: 48px;
    color: #18191F;
    font-family: Montserrat !important;
}

.channel {
    line-height: 0px;
}

.likes-and-subs {
    margin: 100px 0;
    padding: 0px 20px;
}

.likes-and-subs-box {
    box-shadow: 0px 0px 40px 5px #d3d3d3;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.media-name {
    color: #575757;
    text-transform: capitalize;
}

/* 
##########################
Footer section css
########################## 
*/
.footer {
    height: auto;
    background-color: #000000;
    color: white;
    margin: 15px 0 0;
    padding: 30px;
}

.footer-name {
    margin: 10px auto;
}

.copyright {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin: 20px 0;
}

.mr-3 {
    margin-right: 10px;
}


.nav-bar {
    background-color: rgba(0, 0, 0, 0.294);
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    width: 100%;
    padding: 5px 0;
}

.logo {
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-transform: capitalize;
    margin: auto 20px;
    /* background-color: orange; */
    border-radius: 30px;
    padding: 5px 10px;
    border: 2px solid orange;
    background-color: #575757d5;
    /* background-image: linear-gradient(rgba(255, 166, 0, 0.842), rgba(255, 99, 71, 0.856)); */
}

.nav-items {
    color: #18191F;
    font-weight: 900;
    text-transform: capitalize;
    margin: auto 50px;


}

.nav-links {
    text-decoration: none;
    text-transform: uppercase;
    /* background-color: orange; */
    padding: 15px;
    color: white;
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 30px;
    padding: 5px 10px;
    margin: auto 10px;
    transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1) all;
    border: 2px solid transparent;
    background-color: transparent;

}

.nav-links:hover {
    border: 2px solid orange;
    background-color: #575757d5;
}